/* CSS Style*/

/* SLIDER */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url("avocado.png");
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url("avocado.png");
    cursor: pointer;
}

/* DONUT CHART */
.arc text {
  font: 1px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}


/* BARCHART */
.y_axis path,
.y_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.y_axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.x_axis path,
.x_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x_axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.bar {
  fill: #66CC00;
}

.bar:hover {
  fill: #405d27;
}

.d3-tip {
  line-height: 1;
  font: 14px Verdana
  font-weight: bold;
  padding: 12px;
  background: lightgrey;
  color: black;
  border-radius: 2px;
}
